body{
    text-align: center;
    background-image: url('../wu\ tang\ gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#btn{
    border-radius: 6px;
    width: 10%;
    height: 50px;
    background:rgb(254, 208, 50);
    color: rgb(1, 1, 1);
    font-family: "Sedgwick Ave", sans-serif;
    font-size: .9rem;
    font-weight: bolder;
    border: 4px solid rgb(1, 1, 1);
}
#btn:hover{
    box-shadow: 0 12px 16px 0 rgb(254, 208, 50), 0 17px 50px 0 rgb(254, 208, 50);
  }

.btncontainer{
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top: 5px;
}
html{
    font-family: "Sedgwick Ave", sans-serif;
    color: rgb(254, 208, 50);
    font-size: 1.2rem;
}
h1{
    font-size: 4rem;
    color: rgb(254, 208, 50);
    text-shadow: 4px 4px rgb(1, 1, 1);
}
input{
    border: 2px solid rgb(254, 208, 50);
    padding: 4px;
    border-radius: 5px;
}
h2{
    text-shadow: 5px 5px rgb(1, 1, 1);
    font-size: 1.5rem;
    font-weight: bolder;
}