

body {
  background: url("../assets/wu.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  background: purple;
  opacity: 0.8;
  justify-content: center;
  border-radius: 7px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1, h2, h4 {
  display: flex;
  justify-content: center;
}
h4 {
  color: lightgray;
}

h1 {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.videoGames, .button, .color, .chain, .pizza, .pokemon {
  display: flex;
  justify-content: center;
  padding: 15px;
}

select {
  border-radius: 4px;
  background: purple;
  color: white;
  padding-right: 5px;
  width: auto;
}

label {
  margin-right: 10px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  display: flex;
  width: 30%;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  background: purple;
  color: white;
  padding-right: 5px;
  border: 3px solid gray;
   }
