body {
    color: white;
    background-color: none;
    background-image: url("wutang.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-text-stroke: 1px black;

}

#content {
    width: 50%;
    margin: auto;
    color:  #ffd744;
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    text-align: center;
    padding: 2em;
    background-color: rgba(00, 00, 00, 0.75)
}

#content > .firstQuestion {
    margin: auto;
}