* {
  box-sizing: border-box;
}

html{
    color: tomato;
    font-weight: bolder;
}

.gridcell {
    outline: 2px solid black;
    /* background: steelblue; */
    color: black;
    padding: 20px;
    /* border: 1px solid skyblue; */
    /* grid-template-rows: 10px 1fr; */
    
}

.container{
    text-align: center
}

.main{
    display: flex;
    justify-content: center;

}

#checkBoxSurvey{
    text-align: left;
}


body{
    background: black;
}